{
  "DATABASE_MODELING_TABLE": "modeling_data1",
  "WEATHER_LATITUDE": 35.456552,
  "DATA_DIR": "/path/to/your/modeling_output",
  "LAST_UPDATE_FILE": "",
  "DATABASE_WEATHER_TABLE": "modeling_weather1",
  "DATABASE_ADDRESS": "localhost",
  "WEATHER_API_KEY": "your_openweather_api_key_here",
  "WEATHER_LONGITUDE": 129.327667,
  "DATA_HEADER": "conc",
  "VALUE": 21,
  "DATABASE_PORT": "3306",
  "DATABASE_SCHEMA": "tseiweb",
  "DATABASE_PASSWD": "1234",
  "DATABASE_USER": "root"
}

