body {
    margin: 0;
}

.menu-container {
    position: relative;
    list-style-type: none;
    background-color: #03153A;
    padding: 5px;
    margin: 0;
    width: 16vw;
    height: 100vh;
}

.weather {
    background-image: url("/odortracking/staticacking/static/img/bg1.PNG");
    width: 15.3vw;
    height: 15vh;
    color: white;
    padding: 1vw;
}

.weather {
    font-size: 1.4rem;
}

.weather h1 {
    font-size: 2rem;
}

/* 기상 정보 */
.map-right-section {
    position: absolute;
    top: 18%;
    right: 2.5%;
    opacity: 0.95;
    border: 1px solid #ccc;
}

.today-wether {
    width: 380px;
    height: auto;
    padding: 5px 5px;
    opacity: 0.95;
    background: white;
}

.table-to-wether {
    width: 100%;
    border-collapse: collapse;
}

.table-to-wether thead tr th {
    padding: 5px 5px;
    text-align: left;
}

.table-to-wether thead tr td {
    text-align: right;
    padding: 5px 5px;
}

.table-to-wether thead tr td span {
    font-size: 1rem;
    color: #777777;
}

.table-to-wether tbody td {
    width: 20%;
    padding-bottom: 5px;
    text-align: center;
}

.table-to-wether tbody td:nth-child(1) {
    color: #FE5F5F;
}

.table-to-wether tbody td:nth-child(2) {
    color: #4995F8;
}

.table-to-wether tbody td:nth-child(3) {
    width: 23%;
}

/* 바람 방향 아이콘*/
.wind {
    width: 22px;
    margin-right: 5px;
}

.wind.NNE {
    transform: rotate(22.5deg);
}

.wind.NE {
    transform: rotate(45deg);
}

.wind.ENE {
    transform: rotate(67.5deg);
}

.wind.E {
    transform: rotate(90deg);
}

.wind.ESE {
    transform: rotate(112.5deg);
}

.wind.SE {
    transform: rotate(135deg);
}

.wind.SSE {
    transform: rotate(157.5deg);
}

.wind.S {
    transform: rotate(180deg);
}

.wind.SSW {
    transform: rotate(202.5deg);
}

.wind.SW {
    transform: rotate(-135deg);
}

.wind.WSW {
    transform: rotate(-114.5deg);
}

.wind.W {
    transform: rotate(-90deg);
}

.wind.WNW {
    transform: rotate(-69.5deg);
}

.wind.NW {
    transform: rotate(-45deg);
}

.wind.NNW {
    transform: rotate(-24.5deg);
}


/* 드랍 다운 */
.dropdown {
    /* 보더를 통해서 틀을 봐주는게 좋다 ! */
    /* border: 1px solid #fff; */
    /* width: 200px; */
    display: inline-block;
    padding-left: 0.1vw;
    margin-top: 0.5vh;
}

.dropdown-btn {
    width: 15.2vw;
    /* 패딩으로 크기 늘려주기 */
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #1A305F;
    color: #99AABC;
    border: none;
    cursor: pointer;
    text-align: justify;
    padding-left: 10px;
}

.dropdown-submenu {
    /* border: 1px solid #000; */
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    display: none;
}

.dropdown-submenu a {
    display: block;
    padding: 7px;
    text-align: center;
}

.dropdown-submenu a:hover {
    background-color: #eee;
}

/* hover 뒤에 다른 selector가 이어지면 앞이 명령의 대상, 뒤에가 style이 수행되고 적용되는 부분 */
/* dropdown-btn 과 dropdown-sumbenu는 둘이 같은 계층이다 그래서 동작 안하는거임 (상하관계가 되어야 동작함)
한칸을 띄운다 = 상하관계가 전제가 되어있다는거임 !!!!!*/
.dropdown:hover .dropdown-submenu {
    display: block;

}


.selection {
    height: 10vh;
}

.selection p {
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 23px;
}

.map-top-menu {
    background: #fff;
    opacity: 0.95;
    border: 1px solid #ddd;
}

.div-filter {
    height: 5vh;
}

.table-filter {
    width: 15vw;
}

.table-filter tbody tr td {
    width: auto;
    padding: 0 3px;
    display: inline-flex;
    font-size: 0.1rem;
}

.table-filter tbody tr td input:not(.map-search-container input) {
    width: 15vw;
    padding: 5px;
    border: 1px solid #ddd;
}

.table-filter tbody tr td select {
    padding: 5px;
    border: 1px solid #ddd;
}


/* 조회 버튼 */
.searchModeling {
    border: 0;
    color: #fff;
    padding: 7px 25px;
    font-weight: bold;
    background-color: #4261BC;
    cursor: pointer;
}

.searchModeling:hover {
    background-color: #083bd0;
}

.hiddenClass {
    display: none;
}


/* 배출구 영향 표시 테이블 */
.outputs {
    height: 100%;
}

.output {
    height: 17.7vh;
    margin: 7px;
    padding: 7px;
    background-color: white;
    border-radius: 5px / 5px;
}

.output p {
    padding-top: 5px;
    font-size: 1.5rem;
    margin-right: 3px;
}

.concvalue {
    font-size: 1.3rem;
    height: 25px;
    display: inline-block;
    background-color: #E0EDFC;
    border-radius: 5px / 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.outputs span {
    font-weight: bold;
}

.outputs p {
    font-weight: bold;
}

.wrapper-l {
    text-align: center;
    display: flex;
    width: 100%;
    height: 30px;
}

.circle-l {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    line-height: 2;
    text-align: center;
    font-size: 1rem;
    color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.circle-l p {
    padding-bottom: 10px;
}

.table table-sm {
    height: 200px;
}

#faconc1 {
    font-size: 1.2rem;
}

#faconc2 {
    font-size: 1.2rem;
}

#faconc3 {
    font-size: 1.2rem;
}