@CHARSET "UTF-8";


.table-title, .data-section-list {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table-title {
    color: #9CBCF8;
    margin-top: 40px;
    font-size: 16px;
}

.table-title thead tr td {
    width: 11%;
    /* border: 1px solid #ddd; */
}

.data-section {
    margin-top: 15px;
    padding: 10px 0;
    height: 500px;
    background: #F4F5F8;
    overflow: scroll;
    overflow-x: hidden;
    overflow: auto;
    font-size: 15px;
    border-radius: 10px;
}

.data-section::-webkit-scrollbar {
    width: 5px;
}

.data-section::-webkit-scrollbar-thumb {
    background-color: #ddd;
    background-clip: padding-box;
    border: 1px solid transparent;
}

.data-section-list tbody tr td {
    width: 11%;
    padding: 10px 0;
}

/*
    pagenation
*/
.pagenation {
    margin-top: 3%;
    text-align: center;
}

.pagenation a {
    padding: 5px 10px;
    color: #666;
    text-decoration: none;
    border: 1px solid #ddd;
}

.active {
    color: white !important;
    background: #5C86FC;
    border: 1px solid #5C86FC !important;
}

.pagenation a:hover {
    transition: 0.3s;
    border: 1px solid #9cb6ff;
}

.data-table {
    padding-top: 10px;
}

.data-title {
    padding: 0 10px;
}

.data-title ul {
    color: #7EA9F9;
    padding: 0 5px;
    list-style: none;
    font-size: 15px;
    display: flex;
    margin-top: 30px;
}

.data-title ul li {
    width: 40%;
    text-align: center;
}

.data-section {
    padding: 10px;
}

.data-section ul {
    padding: 10px 5px;
    margin: 0 0 10px 0;
    list-style: none;
    font-size: 15px;
    display: flex;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 2px 2px 7px #E1E1E1;
}

.data-section ul li {
    width: 20%;
    text-align: center;
}

.data-section ul li span {
    display: inline-block;
    width: 100px;
    color: #6D6D6D;
    padding: 4px 0;
    border-radius: 30px;
    font-weight: 00;
}

.data-section ul li:nth-child(9) span {
    color: #AEAEAE;
    width: auto !important;
}